# Table of Contents

01. Importing Libraries
02. Importing Data
03. Exercise Task
04. Create Loyalty Flag
05. Check Spending Habits
06. Create Spending Flag
07. Create Order Frequency Flag
08. Dealing with Memory Errors
09. Extracting Data

## 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
#Define path

path = r'C:\Users\legra\Desktop\06-2022 Instacart Basket Analysis'

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared data', 'orders_products_merged_version2.pkl'))

In [4]:
df_ords_prods_merge.shape

(32404859, 21)

In [5]:
#checking output
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,new_customer,product_id,add_to_cart_order,...,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,False,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,False,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,False,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,False,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders

## 03. Exercise Task

In [6]:
#Find aggregated mean of order number

df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The results when using the aggregate function on the entire dataset are different than when we did it on the subset. Some averages are lower while some are higher.

## 04. Creating a Loyalty Flag

In [7]:
#Creating a column for max order

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#Checking output

df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,new_customer,product_id,add_to_cart_order,...,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,True,196,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,False,196,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,False,196,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,False,196,1,...,195,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,False,196,1,...,195,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10

In [9]:
#Creating Flag

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
#checking flag

df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## 05. Checking Spending habits

In [12]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

On average loyal customers spend the least for prices of products followed by regular customers and new customers spending the most.

## 06. Spender Flag

In [13]:
#creating avg spent column

df_ords_prods_merge['avg_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,new_customer,product_id,add_to_cart_order,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent
0,2539329,1,prior,1,2,8,NaN,True,196,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,False,196,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,False,196,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,False,196,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,False,196,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797

In [15]:
#Create flag

df_ords_prods_merge.loc[df_ords_prods_merge['avg_spent'] < 10, 'spender_flag'] = 'Low spender'
df_ords_prods_merge.loc[df_ords_prods_merge['avg_spent'] >= 10, 'spender_flag'] = 'High spender'

In [16]:
#checking output

df_ords_prods_merge['spender_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_flag, dtype: int64

## 07. Order Frequency

In [17]:
#Create order frequency column

df_ords_prods_merge['order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.median)

In [18]:
df_ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,new_customer,product_id,add_to_cart_order,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spender_flag,order_frequency
0,2539329,1,prior,1,2,8,NaN,True,196,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,False,196,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,False,196,1,...,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,prior,6,2,7,19.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,prior,7,1,9,20.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,prior,8,1,14,14.0,False,196,2,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,prior,9,1,16,0.0,False,196,4,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,prior,10,4,8,30.0,False,196,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,prior,15,1,9,7.0,False,196,2,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,prior,17,2,16,8.0,False,196,6,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,prior,18,2,11,7.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,prior,21,1,9,7.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,prior,22,1,10,14.0,False,196,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0

In [19]:
#Create flag

df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['order_frequency'] <= 20) & (df_ords_prods_merge['order_frequency'] > 10), 'frequency_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [20]:
#Checking output

df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [21]:
df_ords_prods_merge.head(50)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,new_customer,product_id,add_to_cart_order,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spender_flag,order_frequency,frequency_flag
0,2539329,1,prior,1,2,8,NaN,True,196,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,False,196,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,False,196,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,False,196,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,False,196,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,prior,6,2,7,19.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,prior,7,1,9,20.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,prior,8,1,14,14.0,False,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,prior,9,1,16,0.0,False,196,4,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,prior,10,4,8,30.0,False,196,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,prior,15,1,9,7.0,False,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,prior,17,2,16,8.0,False,196,6,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,prior,18,2,11,7.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,prior,21,1,9,7.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,prior,22,1,10,14.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,2293453,19,prior,2,5,14,6.0,False,196,3,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,1973799,19,prior,5,6,12,8.0,False,196,15,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,532817,19,prior,7,4,17,6.0,False,196,1,...,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,1573906,21,prior,10,3,10,6.0,False,196,2,...,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,1593000,31,prior,10,3,8,7.0,False,196,17,...,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
20,2231262,31,prior,17,3,11,8.0,False,196,14,...,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
21,2580647,43,prior,6,4,16,4.0,False,196,9,...,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
22,2187180,43,prior,9,4,12,3.0,False,196,1,...,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
23,2497897,52,prior,1,1,9,NaN,True,196,4,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
24,1318871,52,prior,2,1,10,7.0,False,196,5,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
25,1261384,52,prior,3,1,10,7.0,False,196,3,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
26,580568,52,prior,5,2,10,8.0,False,196,6,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
27,2428073,52,prior,7,2,7,8.0,False,196,5,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
28,342306,52,prior,9,1,11,7.0,False,196,5,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
29,1520353,52,prior,10,2,10,8.0,False,196,4,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
30,2542086,52,prior,11,2,9,7.0,False,196,3,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
31,944694,52,prior,12,1,16,6.0,False,196,7,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
32,1268191,52,prior,15,2,11,8.0,False,196,3,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
33,1122089,52,prior,17,2,10,6.0,False,196,4,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
34,1498922,52,prior,18,2,10,14.0,False,196,6,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
35,180919,52,prior,19,3,8,8.0,False,196,4,...,Mid-range product,Regularly busy,Slowest days,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
36,2695875,52,prior,21,5,10,30.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
37,3205960,67,prior,1,3,11,NaN,True,196,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
38,970922,67,prior,2,1,15,5.0,False,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
39,596585,67,prior,3,1,13,7.0,False,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
40,2037087,67,prior,4,2,9,8.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
41,2474111,67,prior,5,3,14,8.0,False,196,2,...,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
42,1568481,67,prior,6,3,12,7.0,False,196,2,...,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
43,2048527,67,prior,8,2,11,7.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
44,2389031,67,prior,9,2,14,7.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
45,2378562,67,prior,10,1,10,6.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
46,1515698,67,prior,11,1,11,7.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
47,1928050,67,prior,12,2,12,8.0,False,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
48,1949274,67,prior,13,1,10,6.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
49,551869,67,prior,14,1,9,7.0,False,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer

In [22]:
df_ords_prods_merge.shape

(32404859, 27)

## 08. Dealing with Memory Issues

In [23]:
df_ords_prods_merge.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_previous_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', '_merge', 'Unnamed: 0',
       'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spent',
       'spender_flag', 'order_frequency', 'frequency_flag'],
      dtype='object')

In [24]:
df_ords_prods_merge.drop(columns = {'eval_set', 'Unnamed: 0', 'busiest_day'}, inplace = True)

In [25]:
df_ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_previous_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'avg_spent', 'spender_flag', 'order_frequency',
       'frequency_flag'],
      dtype='object')

In [26]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int64
 1   user_id                    int64
 2   order_number               int64
 3   orders_day_of_week         int64
 4   order_hour_of_day          int64
 5   days_since_previous_order  float64
 6   new_customer               bool
 7   product_id                 int64
 8   add_to_cart_order          int64
 9   reordered                  int64
 10  _merge                     category
 11  product_name               object
 12  aisle_id                   int64
 13  department_id              int64
 14  prices                     float64
 15  price_range_loc            object
 16  busiest_days               object
 17  busiest_period_of_day      object
 18  max_order                  int64
 19  loyalty_flag               object
 20  avg_spent                  float64
 21  spender_flag               object
 22  order_frequency            float64
 23  frequency_flag             object
dtypes: bool(1), category(1), float64(4), int64(11), object(7)
memory usage: 5.6+ GB

In [28]:
#Change types for data set

df_ords_prods_merge['order_id']=df_ords_prods_merge['order_id'].astype('int32')
df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('int32')
df_ords_prods_merge['order_number']=df_ords_prods_merge['order_number'].astype('int8')
df_ords_prods_merge['orders_day_of_week']=df_ords_prods_merge['orders_day_of_week'].astype('int8')
df_ords_prods_merge['order_hour_of_day']=df_ords_prods_merge['order_hour_of_day'].astype('int8')
df_ords_prods_merge['days_since_previous_order']=df_ords_prods_merge['days_since_previous_order'].astype('float16')
df_ords_prods_merge['product_id'] =df_ords_prods_merge['product_id'].astype('int32')
df_ords_prods_merge['reordered']=df_ords_prods_merge['reordered'].astype('int8')
df_ords_prods_merge['add_to_cart_order']=df_ords_prods_merge['add_to_cart_order'].astype('int32')
df_ords_prods_merge['aisle_id'] = df_ords_prods_merge['aisle_id'].astype('int8')
df_ords_prods_merge['department_id'] = df_ords_prods_merge['department_id'].astype('int8')
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].astype('float16')

In [29]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    int32
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_previous_order  float16
 6   new_customer               bool
 7   product_id                 int32
 8   add_to_cart_order          int32
 9   reordered                  int8
 10  _merge                     category
 11  product_name               object
 12  aisle_id                   int8
 13  department_id              int8
 14  prices                     float16
 15  price_range_loc            object
 16  busiest_days               object
 17  busiest_period_of_day      object
 18  max_order                  int64
 19  loyalty_flag               object
 20  avg_spent                  float64
 21  spender_flag               object
 22  order_frequency            float64
 23  frequency_flag             object
dtypes: bool(1), category(1), float16(2), float64(2), int32(4), int64(1), int8(6), object(7)
memory usage: 3.5+ GB

## 09. Extracting Data

In [30]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_v3.pkl'))

In [31]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spender_flag,order_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer